<h4 class="center-align main-text">current forecast</h4>
<div class="col s4 cu-left">
  <%= dt(@current["dt"]) %>
  <h1><%= @location.split.map(&:capitalize).join(' ') %></h1>
  <h3><%= @current["temp"] %>&deg;C</h3>
  <h6>feels like: <%= @current["feels_like"]%>&deg;C</h6>
</div>

<div class="col s5 cu-middle">
  <span class="sun"><i class="material-icons sun-i">wb_sunny</i> <%= sun(@current["sunrise"]) %></span>
  <span class="sun"><i class="material-icons sun-i">brightness_3</i> <%= sun(@current["sunset"]) %></span></br>
  <span class="wind">wind speed: <%= @current["wind_speed"]%>m/s</span></br>
  <span class="wind">wind degress:<%= @current["wind_deg"]%></span></br>
  <span class="info">pressure: <%= @current["pressure"] %>hPa</span></br>
  <span class="info">humidity: <%= @current["humidity"] %>%</span>
</div>
<div class="col s3 cu-right">
  <% @current["weather"].each do |weather| %>
  <img src=<%=image(weather["icon"], "@4x")%>>
  <p class="centered"><%= weather["description"].upcase %></p>
  <% end %></br>
</div>
<p>.</p>