<h4 class="center-align main-text">weekly forecast</h4>
<% @week.each do |day| %>
<div class="week-col">
  <h6 class="week-date"><%= dt(day["dt"]) %></h6></br>

  <span><%= sun(day["sunrise"]) %></span>
  <span><%= sun(day["sunset"]) %></span></br>

  <% day["weather"].each do |w| %>
  <img src=<%= image(w["icon"], "@2x") %>>
  <% end %>

  <span>TEMPERATURE</span></br>
  <% day["temp"].each do |t| %>
    <span class="temp"><%= t[0].upcase %>: <%= t[1] %>&deg;C</span></br>
  <% end %>

  <br>
  
  <span>PRESSURE:</span>
  <%= day["pressure"] %> hPa</br>

  <span>HUMIDITY:</span>
  <%= day["humidity"] %> %</br>

  <span>WIND SPEED:</span>
  <%= day["wind_speed"] %>m/s</br>

  <span>WIND DEGRESS:</span>
  <%= day["wind_deg"] %></br>

</div>
<% end %>
<p>.</p>